body {
    background-color: black;
}

table {
    margin-top: 10%;
}

input[type = "button"] {
    padding: 0px;
    width: 80%;
    height: 80%;
    background-color: white;
}

input[type = "button"]:hover{
    padding: 0px;
    width: 100%;
    height: 100%;
}

td#spin, td#reset {
    text-align: center;
}

p#credito {
    color: white;
    text-align: center;
}