body{
    background-color: lightgreen;
}
table{
    width: 1000px;
    height: 20%;
    border: 1px solid;
    border-collapse: collapse;
}
th, td{
    border: 1px solid;
    width: 25%;
    background-color: white;
}
img{
    height: 250px;
    width: 250px;
}
form{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
select, input{
    font-size: 15px;
}